.ChangePassword {
    width: 400px;
}

.ChangePassword h2 {
    margin-bottom: 10px;
}

.ChangePassword p {
    margin-bottom: 20px;
}

.ChangePassword form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ChangePassword label {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.ChangePassword input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.password-error {
    color: red;
}

.ChangePassword nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}