.Task{

    min-height:220px;
}

.Task h2{

    color:#312E81;

    font-size:24px;
}

.Task p{
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow:hidden;
}
.Task nav{

    display:flex;

    gap:12px;

    justify-content:space-between;
}

.Task button{

    flex:1;

    padding:10px;

    border:none;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;
}
.Task button:nth-child(1){

    background:#EF4444;

    color:white;
}
.Task button:nth-child(2){

    background:#4F46E5;

    color:white;
}
.Task button:nth-child(3){

    background:#22C55E;

    color:white;
}
.Task button:hover{

    opacity:.85;
}