.header {
    height: 100px;
    width: 100%;

    background-color: rgb(109, 109, 240);

    display: flex;
    align-items: center;
    gap: 30px;
    
    position: relative;

    padding: 20px 30px;
    box-sizing: border-box;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.logo {
    width: 60px;
    height: 60px;

    border: 2px solid;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.insideheader {
    position: absolute;
    left:50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;   /* Stack items vertically */
    justify-content: center;
}

.insideheader h2 {
    margin: 0 0 10px 0;
}

.navbar {
    display: flex;
    gap: 15px;
}

.navbar button {
    padding: 6px 12px;
    background-color: rgb(109, 109, 240);
    border: none;
    
}
.navbar button:hover{
  color: black;
}
.logo:hover{
    border-color: black;
}

/*Card Area CSS*/


.cardAreaHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.cardAreaHeader h3{
    margin: 30px;
}
.searchbar{
    margin: 30px;

    display: flex;
    align-items: center;
}
.searchbar input{
  height: 20px;
  width: 300px;

  color: black;

  padding-left: 10px;

  background-color: rgb(200, 200, 245);

  border-radius:30px;
 
  border: none;
}

.taskCardArea {
    padding: 20px 30px;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 20px;
}


/* Task Card CSS*/
.taskcard {
    background: rgb(235, 234, 234);
    
    color:black;

    padding: 20px;
    
    border: 2px solid transparent;
    border-radius: 15px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;

    gap: 15px;

    transition: transform 0.2s ease;

}
.taskcard:hover{
    border-color: #4f46e5;
    transform: translateY(-3px);
}

.taskcard h2{
    color: black;
}

.taskcard nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.taskcard button {
    padding: 8px 12px;

    border: none;

    border-radius: 8px;

    cursor: pointer;
}
.b1:hover{
  background-color: rgb(179, 99, 68);
  color: black;
}
.b2:hover{
  background-color: rgb(147, 156, 206);
  color: black;
}
.incompleteBtn:hover{
    background-color: rgb(179, 99, 68);
    color: black;
}
.completeBtn:hover{
    background-color: rgb(98, 192, 74);
    color: black;
}

/*   Empty Card CSS*/

.emptyCard {
   
    border: 2px dashed #b0b0b0;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: 0.2s ease;
}

.emptyCard:hover {
    border-color: #4f46e5;
    transform: translateY(-3px);
}

.emptyCard h2 {
    font-size: 3rem;
    color: #888;
    margin: 0;
}

.emptyCard p {
    color: #666;
    font-weight: 500;
}
/* Edit Card CSS */

.editCard {
    width: 500px;
    max-width: 90vw;

    background: white;

    padding: 20px;

    border-radius: 15px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    box-sizing: border-box;
}

.editCardForm {
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
}

.editCardForm input,
.editCardForm textarea {
    width: 100%;

    border: none;
    border-radius: 20px;

    padding: 10px 20px;

    background-color: #c5c3c359;
    color: black;

    box-sizing: border-box;
}

.editCardForm textarea {
    height: 300px;

    resize: none;

    overflow-y: auto;
}

.editCardForm nav {
    width: 300px;

    display: flex;
    justify-content: center;

    gap: 70px;
}

.editCardForm button {
    height: 50px;
    width: 80px;

    border: none;
    border-radius: 15px;

    cursor: pointer;
}

.navbutton1:hover {
    background-color: rgb(165, 58, 58);
    color: black;
}

.navbutton2:hover {
    background-color: rgb(79, 165, 58);
    color: black;
}
.editCardForm textarea::-webkit-scrollbar {
    width: 10px;
}

.editCardForm textarea::-webkit-scrollbar-track {
    background: transparent;
}

.editCardForm textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.editCardForm textarea::-webkit-scrollbar-thumb:hover {
    background: #666;
}
/* model Over Lay CSS*/
.modalOverlay {
    position: fixed;

    top:0;
    left:0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(228, 222, 222, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 1000;
    
}

/* View Card CSS*/

.viewCard{
    width: 600px;
    max-width: 90vw;

    background-color: white;
    color: black;

    border-radius: 20px;

    padding: 30px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    gap: 15px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    
}
.viewCard h2{
    color: black;
}
.viewCard p{
    margin: 0;
}

.viewCard button{
    align-self: flex-end;
}